/* modal */

.create-card-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

}
.create-card-form-modal {
  padding: 30px;

  /*background: #fff;*/
  border-radius: 5px;
  background-color: #1d1e26;
  position: relative;
  top: 100px;
  max-width: calc(70vw - 32px);
  margin: 0 auto;
  padding: 24px 0 24px;
  /*color: hsla(0,0%,100%,.85);*/
  font-size: 14px;
  line-height: 1.5715;
  height: 500px;
  align-items: center;
  color: white;
}


.create-card-progressbar {
  width: 400px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
  padding: 0.5%;
  margin: 1%;
  align-items: center;

}

.create-card-progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: rgb(98, 0, 255);
}



