/* modal */

.create-card-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

}


.create-card-form-modal {

/*
  padding: 30px;


  border-radius: 5px;
  background-color: #1d1e26;
  position: relative;
  top: 100px;
  max-width: calc(70vw - 32px);
  
  margin: 0 auto;
  padding: 5%;

  font-size: 14px;
  line-height: 1.5715;
  height: 500px;
  align-items: center;
  color: white;
  place-items: center;*/

  max-width: calc(70vw - 32px);
  
  margin: 2% auto;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d1e26;
  color: #131313;
  border-radius: 8px;


}

/* progressbar */

.create-card-progressbar {
  width: 400px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
  padding: 0.5%;
  margin: 1%;
  
  align-items: center;

}

.create-card-progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: #ea5c2b;
}

/* form container */

.create-card-form-container {
  
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  background-color: #fffAF1;

}

.create-card-form-container .create-card-header {
  flex: 20%;
  display: grid;
  place-items: center;
  margin-top:  3%;
  margin-bottom: 3%;
}

.create-card-form-container .create-card-body {
  flex: 60%;

}



.create-card-form-container .create-card-footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.create-card-form-container .create-card-footer button {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: #107DCB;
  font-weight: bold;
  color: white;
  border: 0 none;
  
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  
}

/* task attributes */

.create-card-task-attributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}


.create-card-task-attributes label {
  display: inline-block;
  width: 250px;
  float: left;
  font-size: 20px;
        
}
.create-card-task-attributes input, .create-card-task-attributes textarea, .create-card-task-attributes select{
  display: flex;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  /*margin: 10px 0 20px 0;*/
  height: 30px;
  font-size: 12px;
  font-family: 'Avenir Next', sans-serif;
}


