.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

}
.modal {
  padding: 30px;
  background: #fff;
  border-radius: 4px;
  /*background-color: #1d1e26;*/
  position: relative;
  top: 20px;
  width: auto;
  max-width: calc(100vw - 32px);
  margin: 0 auto;
  padding: 0 0 24px;
  /*color: hsla(0,0%,100%,.85);*/
  color: #131313;
  font-size: 16px;
  line-height: 1.5715;
}

.task-card-contents {
  padding: 2%;

}

.card-contents-line-one {
  display: flex;
}

.card-contents-line-one .close-button{
  position: relative;
  left: 65%;
}

.task-card-title {
  font-size: 1.4em;
}

/* tab structure */

.task-card-tabs-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: 450px;
  /*background: #131313;*/
  margin: 2% 0% auto 0%;
  /*margin: 100px auto 0;*/
  word-break: break-all;
  /*border: 1px solid rgba(0, 0, 0, 0.274);*/

  
}

.task-card-tab-buttons {
  display: flex;
  background: #131313;
  padding-top: 0.75%;
  padding-left: 0.5%;
  width: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.task-card-tab-buttons .tabs {

  padding: 0.75%;
  text-align: center;
  width: 20%;
  /*background: rgba(128, 128, 128, 0.075);*/
  background: #131313;
  color: #fff;
  cursor: pointer;
  /*border: 1px solid rgba(0, 0, 0, 0.274);*/
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-size: 16px;

}
.task-card-tab-buttons .tabs:not(:first-child) {
  border-left: 1px solid #56575d;
  
}

.task-card-tab-buttons .active-tabs  {
  background: #56575d;
  /*border-bottom: 1px solid transparent;*/
  color: #fff;
  border-top: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.task-card-tab-buttons .active-tabs + .tabs {
  border-left: none;
}


/*.task-card-tab-buttons .active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
}
*/
.task-card-tab-buttons button {
  border: none;
  padding-left: 1%;
}

.task-card-tab-content {
  /*flex-grow : 1;*/
  border: solid #56575d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;  
  height: 100%;
  background: brown;
}
.task-card-tab-content .content {
/*  padding: 20px;
  width: auto;*/
  display: none;
  
}
.task-card-tab-content .active-content {
  display: block;
  
}



