.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

}
.modal {
  padding: 30px;
  background: #fff;
  border-radius: 4px;
  /*background-color: #1d1e26;*/
  position: relative;
  top: 20px;
  width: auto;
  max-width: calc(100vw - 32px);
  margin: 0 auto;
  padding: 0 0 24px;
  /*color: hsla(0,0%,100%,.85);*/
  color: #131313;
  font-size: 14px;
  line-height: 1.5715;
}

.task-card-contents {
  padding: 2%;

}

.card-contents-line-one {
  display: flex;
}

.card-contents-line-one .close-button{
  position: relative;
  left: 65%;
}

.task-card-title {
  font-size: 1.4em;
}

/* tab structure */

.task-card-tabs-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: 100%;
  /*background: #131313;*/
  margin: 2% 0% auto 0%;
  /*margin: 100px auto 0;*/
  word-break: break-all;
  /*border: 1px solid rgba(0, 0, 0, 0.274);*/
}

.task-card-tab-buttons {
  display: flex;
  background: #131313;
  padding-top: 0.75%;

}

.task-card-tab-buttons .tabs {

  padding: 0.75%;
  text-align: center;
  width: 50%;
  /*background: rgba(128, 128, 128, 0.075);*/
  background: #131313;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-size: 16px;

}
.task-card-tab-buttons .tabs:not(:last-child){
  border-right: 1px solid gray;/*rgba(0, 0, 0, 0.274)*/;
}

.task-card-tab-buttons .active-tabs  {
  background: #56575d;
  /*border-bottom: 1px solid transparent;*/
  color: #fff;
  border-top: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

.task-card-tab-buttons .active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;


  /*background: rgb(88, 147, 241);*/
}



.task-card-tab-buttons button {
  border: none;
}

.task-card-tab-content {
  flex-grow : 1;
}
.task-card-tab-content .content {
  background: white;
  padding: 20px;
  width: 96.5%;
  height: 100%;
  display: none;
  border: solid gray;
}
.task-card-tab-buttons .content h2 {
  padding: 0px 0 5px 0px;
}
.task-card-tab-content .content p {
  width: 100%;
  height: 100%;
}
.task-card-tab-content .active-content {
  display: block;
}